[submodule "public/experiments/estrelas"]
	path = public/experiments/estrelas
	url = git@github.com:HugoLnx/Estrela.git
[submodule "public/experiments/pingos"]
	path = public/experiments/pingos
	url = git@github.com:HugoLnx/Pingos.git
[submodule "public/experiments/canvas-graphic-3d"]
	path = public/experiments/canvas-graphic-3d
	url = git@github.com:/HugoLnx/Canvas-Graphic-3D.git
[submodule "public/experiments/ghost-pacman"]
	path = public/experiments/ghost-pacman
	url = git@github.com:/HugoLnx/ghost-pacman.git
[submodule "public/experiments/exercicios-matematica-6o-ano"]
	path = public/experiments/exercicios-matematica-6o-ano
	url = git@github.com:/HugoLnx/exercicios-matematica-6o-ano.git
[submodule "public/experiments/genius"]
	path = public/experiments/genius
	url = git@github.com:/HugoLnx/genius.git
