<meta itemprop="name" content="{{{ title }}}">
<meta property="og:title" content="{{{ title }}}" />
<meta itemprop="description" content="{{{ description }}}">
<meta property="og:description" content="{{{ description }}}" />
<meta itemprop="image" content="{{{ image }}}">
<meta property="og:image" content="{{{ image }}}" />
<meta property="og:type" content="{{{ type }}}" />
<meta property="og:url" content="{{{ url }}}" />
<meta property="og:site_name" content="{{{ site-name }}}" />
<meta property="fb:admins" content="{{ fb-user-id }}" />
<meta property="fb:app_id" content="{{ fb-app-id }}" />
