.clear {
  width: 100%;
  overflow: auto;
}

#footer {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 20px 0 0 0;
	background: #99f;
}

#footer .container {
  width: 900px;
  margin: 0px auto;
}

ul, li {
  list-style: none;
  text-align: center;
}

#footer .footer-item {
	display: inline-block;
	padding: 20px;
}

#footer .label {
  font-family: 'Cinzel Decorative', cursive;
	font-weight: 800;
	display: block;
  color: black;
}

#footer a,
#footer a:hover,
#footer a:link,
#footer a:active {
  text-decoration: none;
}

#footer .data, #footer .data a {
	color: #222;
}

#footer a:hover {
	color: #444;
}
