body {
  background: #ddf;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

div#logo {
  background: url("/images/header.png") no-repeat;
  width: 266px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

div#content {
  width: 900px;
  margin: 0px auto;
  text-align: center;
	min-height: 60%;
}

#content:after {
  content: "";
  display: block;
}

div#header {
  padding-bottom: 20px;
}
