<canvas id="estrelas" width="800" height="350"></canvas>

<script type="text/javascript" src="{{path}}/javascript/canvas.js"></script>
<script type="text/javascript" src="{{path}}/javascript/estrela.js"></script>
<script type="text/javascript" src="{{path}}/javascript/constelacao.js"></script>
<script type="text/javascript" src="{{path}}/javascript/texto_informativo.js"></script>
<script type="text/javascript" src="{{path}}/javascript/pintor_de_estrela.js"></script>
<script type="text/javascript" src="{{path}}/javascript/pintor_de_constelacao.js"></script>
<script type="text/javascript" src="{{path}}/javascript/pintor_de_texto_informativo.js"></script>
<script type="text/javascript" src="{{path}}/javascript/game_loop.js"></script>
<script type="text/javascript" src="{{path}}/javascript/application.js"></script>
<script type="text/javascript">
  window.onload = function(){
    init();
  };
</script>
