<div id="botoes">
  <button data-exercicio="exercicioDeMultiplo">Novo exercicio sobre Multiplos</button>
  <button data-exercicio="exercicioDeDivisores">Novo exercicio sobre Divisores</button>
  <button data-exercicio="exercicioDeMultiplosEmComum">Novo exercicio sobre Multiplos em comum</button>
  <button data-exercicio="exercicioDeMMC">Novo exercicio sobre MMC</button>
  <button data-exercicio="exercicioDeMDC">Novo exercicio sobre MDC</button>
  <button data-exercicio="exercicioDeSomaDeGraus">Novo exercicio sobre soma de Graus</button>
  <button data-exercicio="exercicioDeSubtracaoDeGraus">Novo exercicio sobre subtracao de Graus</button>
</div>

<div id="exercicios" style="text-align: left; font-family: lucida console, monospace;"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{path}}/js/eventos_de_botao.js"></script>
<script src="{{path}}/js/fabrica_exercicios.js"></script>
<script src="{{path}}/js/exercicios.js"></script>
<script src="{{path}}/js/mmc_e_mdc.js"></script>
<script src="{{path}}/js/multiplos_e_divisores.js"></script>
<script src="{{path}}/js/graus.js"></script>
<script src="{{path}}/js/util.js"></script>
